<section class="projects">

		<h2>Projects</h2>
	  <div class="row">
	  	<!-- HOLMHENNING -->
	    <div class="cx12">
	    	<div class="project holmhenning">
		    	<a href="http://hhpes.se/" target="_blank"><img src="../img/holmhenning-screenshot_1062x518.jpg" alt="holmhenning & partners website"></a>
		    </div>
	    </div>
	    <!-- DAVID ERBERHARD -->
	    <div class="cx12">
	    	<div class="project davideberhard">
	    		<a href="http://eberhard.se/" target="_blank">
		    	<img src="../img/davideberhard-screenshot_1062x518.jpg" alt="david eberhards website">
		    	</a>
	    	</div>
	    </div>
	    <!-- ARKIPOL -->
	    <div class="cx12">
	    	<div class="project arkipol">
	    		<a href="http://arkipol.se/" target="_blank">
		    		<img src="../img/arkipol-screenshot_1062x518.jpg" alt="arkipol website">
		    	</a>
	    	</div>
	    </div>
	    <!-- NGENIA -->
	    <div class="cx12">
	    	<div class="project ngenia">
	    		<a href="http://ngenia.se/" target="_blank">
	    		<img src="../img/ngenia-screenshot_1062x518.jpg" alt="ngenia website">
	    		</a>
	    	</div>
	    </div>
	    <!-- KENDI -->
	    <div class="cx12">
	    	<div class="project kendi">
	    		<a href="http://kendi.konsulterna.nu/" target="_blank">
	    		<img src="../img/kendi-screenshot_1062x518.jpg" alt="kendi website">
	    		</a>
	    	</div>
	    </div>
	    <!-- DJUPVIK -->
	    <div class="cx12">
	    	<div class="project djupvik">
	    		<img src="../img/hotel-djupvik_screenshot_1068x518.jpg" alt="djupvik website">
	    	</div>
	    </div>
	  </div>
	</section>