body {
	font-family: 'Roboto', sans-serif;
	background-color: #1E2228;
	margin: 0;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  color: rgba(0, 0, 0, 0.87);

  /* Atlas Grotesk, Futura, Lato, Maison Neue, Real Text, Roboto, and Suisse Int’l. */
}

footer,
.content,
#codeRoot {
	max-width: 625px;
	margin: 0 auto;
}

header {
	height: 50vh;
	max-height: 326px;
}

header,
footer {
	font-weight: 500;
	font-size: 11px;
	line-height: 18px;
	overflow: hidden;
	color: #fff;
	border: 0;
}

section {
  padding: 60px 0;
  border-bottom: 1px solid #ededed;
}

pre {
	margin: 0 5px;
	font-family: 'Roboto mono';
	border: 0;
	vertical-align: baseline;
}

h1 {
	font-size: 2rem;
	font-weight: 100;
}

h2 {
	font-size: 2rem;
	margin-top: 0;
	margin-bottom: 60px;
	font-weight: 400;
}

h2,
h3 {
	color: rgba(0,0,0,.8);
}

a {
	text-decoration: none;
}

.content {
	border-radius: 2px;
	z-index: 100;
	position: relative;
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 0px 0px 20px 10px #1B1F24;
}

.portrait {
	display: inline-block;
	border-radius: 50%;
	overflow: hidden;
	width: 133px;
	height: 133px;
	transform: translateY(-130px);
	box-shadow: rgba(128, 128, 128, 0.156863) 0px 3px 5px, 
							rgba(128, 128, 128, 0.227451) 0px 3px 10px;
}

.portrait img {
	width: 130px;
	max-width: none;
	border-radius: 50%;
	position: relative;
}

.portrait::after {
	content: ' ';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, .1) inset;
	border: 3px solid rgba(255,255,255,1);
	z-index: 200;
	border-radius: 50%
}

.project {
  text-align: center;
  margin-bottom: 50px;
}

.project img {
  cursor: pointer;
  display: block;
	transition: transform .5s, box-shadow .5s;
	transform: perspective(100px) translateZ(0px);
	box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px; 
}

.project:hover img {
	transform: perspective(100px) translateZ(1px);
	box-shadow: rgba(0, 0, 0, 0.298039) 0px 10px 30px, rgba(0, 0, 0, 0.219608) 0px 7px 10px;
}

.project h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 20px;
}

.holmhenning h3 {
	color: #F99D1C;
}

.ngenia h3 {
	color: #6BCCB8;
}

.arkipol h3 {
	color: #DA553B;
}

.djupvik h3 {
	color: #C7732D;
}

.kendi h3 {
	color: #e49fca;
}

.support.type,
.variable.other.object,
.variable.other.readwrite {
	color: #a5cee1;
}

.value.string.quoted {
	color: #4db277;
}

a.value.string.quoted:hover {
	color: #E6DB74;
	opacity: 1 !important;
}

.constant.numeric {
	color: #bd99ff;
}

.blue,
.storage.type,
.variable.function,
.keyword.control {
	color: #66D9EF;
	opacity: .3;
}

.red,
.keyword.operator,
.keyword.operator.ternary,
.keyword.operator.assignment,
.keyword.control.conditional,
.keyword.control.trycatch,
.storage.type.function {
	color: #F92672;
	opacity: .3;
}

.string.quoted {
	color: #E6DB74;
	opacity: .3;
}

.orange,
.variable.parameter,
.variable.parameter.function {
	color: #FD971F;
	opacity: .3;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
  padding: 70px 0;
  /* height: 50vh; */
  color: #fff;
  font-size: 0.7rem;
}

footer .container {
	display: flex;
  align-items: center;
  /* justify-content: center; */
	height: 100%;
}

footer pre {
	flex-basis: 50%;
	margin: 30px 0;
}

footer h3 {
	color: #fff;
	padding: 0;
	font-size: 1.2rem;
	opacity: .3;
}

footer a {
	text-decoration: none;
	color: #fff;
	font-weight: 400;
	font-size: .8rem;
	opacity: .8;
}

footer a:hover {
	color: rgb(249, 38, 114);
	opacity: 1;
}
.wordpress .word {
	color: rgb(33,117,154);
}

section.competence .competency {
	text-align: center;
	margin-bottom: 20px;
}

ul,
p {
	line-height: 33px;
}

.content a {
	color: rgba(249, 38, 114, 1);
	transition: color .13s;
}

.content a:hover {
	color: rgba(249, 38, 114, .2);
}