/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  box-sizing: border-box; 
}
*, *::after, *::before {
  box-sizing: inherit; 
}

body {
	margin: 0;
}
h1 {
	margin: 0;
}
section {
	padding: 15px 0 32px 15px;
	border-bottom: 1px solid #ededed;
}
section:last-child {
	border: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body {
	font-size: 16px;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	line-height: 1.5rem;
}
h1,
h2,
h3 {
	font-weight: 400;
}
h1 {
	font-size: 1.2rem;
}
h2 {
	font-size: 1.3rem;
}
h3 {
	font-size: 1.1rem;
}
a {
	color: #000;
}
a:hover {
	color: #ccc;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 60px;
	background-color: #f8f8f8;
	border-bottom: 1px solid #e7e7e7;
}
header a {
	text-decoration: none;
	color: #3d3d3d;
}

.site-logo {
	float: left;
	padding-left: 10px;
}
.site-logo img {
	width: 50px;
	margin: 5px 5px 5px 0;
}

.site-description {
	float: left;
	padding: 10px 0 0 10px;
}
.site-description h1 {
	/*margin: 10px 0 0 70px;*/
}
.site-description i {
	color: #666;
	display: block;
	font-size: 0.8rem;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
.content {
	margin-top: 60px;
	padding: 0 20px;
}
.content img {
	padding: 3px;
	border: 1px solid #ccc;
	border-radius: 5px;
}
.container {
  max-width: 68em;
  margin: 0 auto;
}

.about-me img {
	height: 160px;
	margin-top: 15px;
}
.contact {
	margin-top: 15px;
}

.photoshop-retouch {
	max-width: 100%;
	height: auto;
}

@media (max-width: 768px) {
	.container {
	  padding: 0;
	}
	.content {
		padding: 0 15px;
	}
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
	padding: 50px 0;
	color: #999;
	text-align: center;
	background-color: #f9f9f9;
	border-top: 1px solid #e5e5e5;
	font-size: 0.7rem;
}

/*--------------------------------------------------------------
# Lightbox
--------------------------------------------------------------*/
.lightbox-group {
	margin: 20px 0;
}
.lightbox-group img {
	height: 120px;
}
.lightbox-group a {
	text-decoration: none;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after {
	content: "";
	display: table;
}

.clear:after {
	clear: both;
}